@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-neutral-cool-700: oklch(0.373 0.034 259.733);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.205 0 0);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.205 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: oklch(0.205 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);
  --color-input: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0 0);
  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.145 0 0);
  --color-sidebar-primary: oklch(0.205 0 0);
  --color-sidebar-primary-foreground: oklch(0.985 0 0);
  --color-sidebar-accent: oklch(0.97 0 0);
  --color-sidebar-accent-foreground: oklch(0.205 0 0);
  --color-sidebar-border: oklch(0.922 0 0);
  --color-sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
}

.prose{
  color: var(--tw-prose-body);
  --tw-prose-body: oklch(0.373 0.034 259.733);
  --tw-prose-headings: oklch(0.21 0.034 264.665);
  --tw-prose-lead: oklch(0.446 0.03 256.802);
  --tw-prose-links: oklch(0.21 0.034 264.665);
  --tw-prose-bold: oklch(0.21 0.034 264.665);
  --tw-prose-counters: oklch(0.551 0.027 264.364);
  --tw-prose-bullets: oklch(0.872 0.01 258.338);
  --tw-prose-hr: oklch(0.928 0.006 264.531);
  --tw-prose-quotes: oklch(0.21 0.034 264.665);
  --tw-prose-quote-borders: oklch(0.928 0.006 264.531);
  --tw-prose-captions: oklch(0.551 0.027 264.364);
  --tw-prose-kbd: oklch(0.21 0.034 264.665);
  --tw-prose-kbd-shadows: NaN NaN NaN;
  --tw-prose-code: oklch(0.21 0.034 264.665);
  --tw-prose-pre-code: oklch(0.928 0.006 264.531);
  --tw-prose-pre-bg: oklch(0.278 0.033 256.848);
  --tw-prose-th-borders: oklch(0.872 0.01 258.338);
  --tw-prose-td-borders: oklch(0.928 0.006 264.531);
  --tw-prose-invert-body: oklch(0.872 0.01 258.338);
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: oklch(0.707 0.022 261.325);
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: oklch(0.707 0.022 261.325);
  --tw-prose-invert-bullets: oklch(0.446 0.03 256.802);
  --tw-prose-invert-hr: oklch(0.373 0.034 259.733);
  --tw-prose-invert-quotes: oklch(0.967 0.003 264.542);
  --tw-prose-invert-quote-borders: oklch(0.373 0.034 259.733);
  --tw-prose-invert-captions: oklch(0.707 0.022 261.325);
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: oklch(0.872 0.01 258.338);
  --tw-prose-invert-pre-bg: #00000080;
  --tw-prose-invert-th-borders: oklch(0.446 0.03 256.802);
  --tw-prose-invert-td-borders: oklch(0.373 0.034 259.733);
  font-size: 1rem;
  line-height: 1.75;
}
